<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Change Password</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
			<div ng-show="success_message" class="alert alert-success">
	    			{{success_message}}
			</div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Change Password
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form name="change_password_form" id="change_password_form" ng-submit="changePassword();">
                                    <div class="col-lg-6">
                                        <div class="form-group" ng-class="{'has-error':error['current_password']}">
                                            <label>Current Password</label>
                                            <input autocomplete="off" type="password" class="form-control" ng-model="ch_pass.current_password" required name="current_password" id="current_password" value="">
						<label class="control-label" ng-show="change_password_form.current_password.$dirty && change_password_form.current_password.$error.required">Current password is required.</label>
						<label class="control-label" ng-show="error['current_password']" ng-bind="error['current_password']"></label>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': change_password_form.new_password.$dirty && change_password_form.new_password.$error.required }">
                                            <label>New Password</label>
                                            <input autocomplete="off" type="password" class="form-control" autocomplete="off" ng-model="ch_pass.new_password" required name="new_password" id="new_password" value="">
						<label class="control-label" ng-show="change_password_form.new_password.$dirty && change_password_form.new_password.$error.required">Current password is required.</label>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': (change_password_form.confirm_password.$dirty && change_password_form.confirm_password.$error.required) || ch_pass.new_password != ch_pass.confirm_password }">
                                            <label>Confirm Password</label>
                                            <input autocomplete="off" type="password" class="form-control" autocomplete="off" ng-model="ch_pass.confirm_password" required name="confirm_password" id="confirm_password" value="">
						<label class="control-label" ng-show="change_password_form.confirm_password.$dirty && confirm_password_form.confirm_password.$error.required">Current password is required.</label>
						<label class="control-label" ng-show="ch_pass.new_password != ch_pass.confirm_password">Password do not match.</label>
                                        </div>
	                                <div class="col-lg-12" style="text-align:left">
						<input type="submit" class="btn btn-success" ng-disabled="(change_password_form.$invalid || ch_pass.new_password != ch_pass.confirm_password)" value="Update Password">
                                	</div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </form>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>