<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-if="historyHR" >Heart Rate History</div><div ng-if="historySteps" >Steps History</div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div flash-message="5000" ></div>
                    <div class="dataTable_wrapper table-responsive" ng-if="historyHR" >
                        <table ng-table="tableParams" class="table">
                            <tr ng-repeat="hr in historyHR" ng-class="{even: $even, odd: $odd}">
                                <td data-title="'Date'">{{ hr.date }}</td>
                                <td data-title="'Time'">{{ hr.start_time }} - {{ hr.end_time }}</td>
                                <td data-title="'Avg. HR'">{{ hr.avg_heart_rate }}</td>
                                <!--{{ patient.dohd | date: 'MM/dd/yyyy HH:mm:ss' }}-->
                            </tr>
                        </table>
                    </div>
                    <div class="dataTable_wrapper table-responsive" ng-if="historySteps">
                        <table ng-table="tableParams" class="table">
                            <tr ng-repeat="step in historySteps" ng-class="{even: $even, odd: $odd}">
                                <td data-title="'Date'">{{ step.date }}</td>
                                <td data-title="'Steps'">{{ step.steps }}</td>
                                <td data-title="'Recommended'">10000 / day</td>
                                <td data-title="'Statistics'">
                                    <div ng-if="step.steps < 10000" class="required">Less by {{ 10000 - step.steps}}</div>
                                    <div ng-if="step.steps > 10000" class="green">More by {{ step.steps - 10000 }}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->