<style type="text/css">
	table{
		width: 100% !important;
	}
</style>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Recent Alerts</h2>
		</div>
	</div>
	<div class="dataTable_wrapper">
		<table ng-table="tableParams" class="">
			<tr>
				<td>
					<div ng-repeat="alert in $data" class="col-lg-4">
						<div class= "panel panel-red" ng-class="{'panel-yellow': (alert.is_noted == 1)}">
							<div class="panel-heading">
								<b>{{alert.patient_first_name}} {{alert.patient_last_name}} </b> on {{alert.datetime}} <span>({{alert.patient_mobile}})</span>
							</div>
							<div class="panel-body" style="height:150px;overflow-x:hidden;overflow-y:scroll;">
								<p >{{alert.ques_name}} {{alert.is_noted}}</p>
								<p><b>Answer:</b></p>
								<ul>
									<li ng-repeat="alt in alert.answer_name">{{alt}} </li>
								</ul>
							</div>
							<div class="panel-footer">
								<a href="#/alerts/detail/{{alert._id}}">View Details</a>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>