<style type="text/css">.col-lg-3 {
    width: 25%;
    height: 260px;
    min-height: 260px;
    overflow: hidden;
}
</style>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Recent Alerts</h2>
		</div>
	</div>
	<div class="dataTable_wrapper">
		<table ng-table="tableParams" class="">
			<tr>
				<td>
					<div ng-repeat="alert in $data" class="col-lg-3">
						<div class="panel panel-red">
							<div class="panel-heading">
								{{alert.patient.first_name}} {{alert.patient.last_name}} <br/><span style="font-size:12px;">({{alert.patient.phone}})</span>
							</div>
							<div class="panel-body">
								<p>{{alert._id}}</p>
								<p>{{alert.question.name}}</p>
								<p ng-show="alert.multians.length != 0">{{alert.multians}} multiple anss</p>
								<p ng-if="alert.ans">{{alert.ans}}single answer</p>
							</div>
							<div class="panel-footer">
								<a href="rp_alert_detail.html">View Details</a>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>